*{
	font-family:"Roboto";
	font-weight: 100;

}

.focusState{
	height: 100px;
}

.grid-a{
	margin: 10px;
}


h2{ 
	font-family:"Roboto Slab";
	font-weight: 100;
	font-size: 5em;
	color: #3c3c3c;
}

.listThumbnail{
	position:absolute;
    top:0;
    bottom:0;
    margin:auto;
}

.ui-listview > li p {
	font-size: 1em;
	font-weight: normal;
	display: block;
	margin: .6em 0;
	text-overflow: ellipsis;
	overflow: hidden;
	white-space: nowrap;
}