*{
	font-family:"Lato";
	font-weight: 100;
	color: white;
}

html{
	background-color: black;
}

h1{
	color: white;
}

<<<<<<< HEAD
#background{
	position: absolute;
	left: 50%;
	top: 50%;
	margin-left: -12%;
	margin-top: calc(-37% - 1px);
	width: 24%;
	height: 50%;
	background-image: url(image/background2.png);
	background-repeat:no-repeat;
	background-position: left top;
	background-size:cover;
=======
#band{
	position: absolute;
	left: 50%;
	margin-left: -16.5%;
	width: 33%;
	height: 100%;	
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0,0,0,1)), color-stop(39%,rgba(79,79,79,1)), color-stop(100%,rgba(0,0,0,1))); /* Chrome,Safari4+ */
>>>>>>> FETCH_HEAD
}

#container{
	width: 100%;
	height: 100%;
}


#display{
	position: absolute;
	left: 50%;
	top: 50%;
	margin-left: -12%;
	margin-top: calc(-37% - 1px);
	width: 24%;
	height: 50%;
	background-image: url(image/milk_fit.png);
	background-repeat:no-repeat;
	background-position: left top;
	background-size:cover;
}

#displayboundary{
	position: absolute;
	left: 50%;
	top: 50%;
	margin-left: -12%;
	margin-top: calc(-37% - 10px);
	width: 24%;
	height: calc(50% + 20px);

}

#playhead{
	position: absolute;
	top: calc(50% - 12.5px);
	width: 100%;
	height: 30px;	
}

#playheadgraphic{
	position: relative;
	left: 60%;
	top:40%;
	background-color: #ff0000;	
	width: 40%;
	height: 20%;	
}

#reflection{
	position: absolute;
	left: 50%;
	top: 50%;
	margin-left: calc(-16.5% - 2px);
	margin-top: -42%;
	width: calc(33% + 2px);
	height:55%;
	background: -webkit-gradient(linear, left top, right bottom, color-stop(0%,rgba(255,255,255,0.3)), color-stop(50%,rgba(255,255,255,0.05)), color-stop(51%,rgba(255,255,255,0)), color-stop(100%,rgba(255,255,255,0.13))); /* Chrome,Safari4+ */
	border-radius: 20px;
}

#shadow{
	position: absolute;
	left: 50%;
	top: 50%;
	background: -webkit-gradient(linear, left top, right bottom, color-stop(0%,rgba(255,255,255,0.3)), color-stop(50%,rgba(255,255,255,0.05)), color-stop(51%,rgba(255,255,255,0)), color-stop(100%,rgba(255,255,255,0.13))); /* Chrome,Safari4+ */

	margin-left: calc(-16.5% - 2px);
	margin-top: -42%;
	
	width: calc(33% + 4px);
	height: 55% ;
	
	border-radius: 20px;
}

#watchface{
	position: absolute;
	left: 50%;
	top: 50%;
	background-color:#2f2f2f;
	margin-left: -16.5%;
	margin-top: -42%;
	width: 33%;
	height: calc(55% + 2);
	border-radius: 20px;
}

#watchrim{
	position: absolute;
	left: 50%;
	top: 50%;
	margin-left: calc(-16.5% - 2px);
	margin-top: -42%;
	width: 33%;
	height: 55%;
	background-color: #000;
	border: 2px solid rgba(255,255,255,0.24);
	border-radius: 20px;
}

<<<<<<< HEAD
#button1,#button2{
	position: absolute;
	left: 12%
	width: 24%;
	height: 10%;
	border: 1px solid white;
}


#band{
	position: absolute;
	left: 50%;
	margin-left: -16.5%;
	width: 33%;
	height: 100%;	
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0,0,0,1)), color-stop(39%,rgba(79,79,79,1)), color-stop(100%,rgba(0,0,0,1))); /* Chrome,Safari4+ */
}

#bar{
	position: absolute;
	left: 54%;
	top: 50%;
	margin-left: 0%;
	margin-top: calc(-37% - 1px);
	width: 8%;
	height: 50%;
	background-color: rgba(255,255,255,0.08);
}


#container{
	position: absolute;
	top: 0;
	width: 200%;
	height: 400%;
}


#display{
	position: absolute;
	left: 50%;
	top: 50%;
	margin-left: -12%;
	margin-top: calc(-37% - 1px);
	width: 24%;
	height: 50%;
}

#displayboundary{
	position: absolute;
	left: 50%;
	top: 50%;
	margin-left: -12%;
	margin-top: calc(-37% - 10px);
	width: 24%;
	height: calc(50% + 20px);

}

.labels{
	width: 1000%; /* change this value for the width */
	height: 20%;
	top: 0%;
	left: -450%; /* change this value for the left margin */
	font-size: 1em;
	text-transform: uppercase;
	font-weight: 300;	
	-webkit-transform:rotate(-90deg);
	/*border: 1px solid white;*/
}

#playhead{
	position: absolute;
	top: calc(50% - 12.5px);
	width: 100%;
	height: 33px;	
}

#playheadgraphic{
	position: relative;
	left: 60%;
	top:40%;
	background-color: #ff0000;	
	width: 40%;
	height: 20%;	
}

#reflection{
	position: absolute;
	left: 50%;
	top: 50%;
	margin-left: calc(-16.5% - 2px);
	margin-top: -42%;
	width: calc(33% + 2px);
	height:55%;
	background: -webkit-gradient(linear, left top, right bottom, color-stop(0%,rgba(255,255,255,0.3)), color-stop(50%,rgba(255,255,255,0.05)), color-stop(51%,rgba(255,255,255,0)), color-stop(100%,rgba(255,255,255,0.13))); /* Chrome,Safari4+ */
	border-radius: 20px;
}

#shadow{
	position: absolute;
	left: 50%;
	top: 50%;
	background: -webkit-gradient(linear, left top, right bottom, color-stop(0%,rgba(255,255,255,0.3)), color-stop(50%,rgba(255,255,255,0.05)), color-stop(51%,rgba(255,255,255,0)), color-stop(100%,rgba(255,255,255,0.13))); /* Chrome,Safari4+ */
	margin-left: calc(-16.5% - 2px);
	margin-top: -42%;
	width: calc(33% + 4px);
	height: 55% ;
	border-radius: 20px;
}


#type{
	position: absolute;
	left: 50%;
	top: 50%;
	margin-left: -12%;
	margin-top: calc(-37% - 1px);
	width: 24%;
	height: 50%;
	/*border: 1px solid red
	overflow: hidden;*/

}

#watchface{
	position: absolute;
	left: 50%;
	top: 50%;
	background-color:#2f2f2f;
	margin-left: -16.5%;
	margin-top: -42%;
	width: 33%;
	height: calc(55% + 2);
	border-radius: 20px;
}

#watchrim{
	position: absolute;
	left: 50%;
	top: 50%;
	margin-left: calc(-16.5% - 2px);
	margin-top: -42%;
	width: 33%;
	height: 55%;
	background-color: #000;
	border: 2px solid rgba(255,255,255,0.24);
	border-radius: 20px;
}

=======
>>>>>>> FETCH_HEAD
